
<div class="">
  <div class="row" style="margin: 0;">
    <div class="col-12" style="padding: 0;">
      <div class="m-5 text-center" >      
        <h6>
          一つ目の写真は日常の一部を切り取った写真</br>
          二つ目の写真はその中でも気になったもの</br>
          あなたは、どこが気になりましたか？</br>
          アイデア覗いてみませんか？</br>
        </h6>
      </div>      
        <%= image_tag '【見本】画像１(左下).jpg', style: "width: 100%" %>
      <div class="m-5 text-center" >
        <h6>
          世界はモノで溢れている</br>
          これ以上アイデアが湧かない</br>
          思考を止めてはならない</br>
          別の視点、考え方一人では限界がある</br>
          ならば、共有し深めあおう</br>
          ふとしたアイデアが世界を変える</br>
        </h6>
      </div>
        <%= image_tag '【見本】画像２(右上).jpg', style: "width: 100%" %>
    </div>
  </div>
</div>