<h4 class="text-center mt-3">レビュー・コメント一覧</h4>
<div class="container">
  <div class="row">
  <% @reviews.each do |review| %>
  <div class="card col-12 col-md-4 border-dark">
    <div class="card-body">
      <h5 class="card-title"><%= link_to review.member.user_name,  edit_admin_review_path(review.id) %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">レビュー：<%= review.review_score %></li>
      <li class="list-group-item">コメント：<%= review.comment %></li>
      <li class="list-group-item">レビューステータス：
      <% if review.is_cleared == true %>
      削除済み
      <% else %>
      問題なし
      <% end %>
      </li>
    </ul>
  </div>
  <% end %>
  </div>
</div>